<!DOCTYPE html>
<html>
  <head>
    <title>UserAuthentication</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
        <h1 class="white_title">MESSAGE STREAM</h1>
      <nav>
        <ul>
          <% if logged_in? %>
            <li><%= link_to "Logout", logout_path, method: :delete %></li>
            <li><%= link_to "New Post", newpost_path %></li>
          <% else %>
            <li><%= link_to "Signup", signup_path %></li>
            <li><%= link_to "Login", login_path %></li>
          <% end %>
            <li><%= link_to "Show Posts", root_path %></li>
        </ul>
      </nav>
    </header>
    <div class="body_container">
      <%= yield %>
    </div>
    
    <div class="social_container">
      <div class="social_centerer">
        <a href="http://github.com/kyle-annen" class="btn btn-primary">
          <%= image_tag("github.png", width: '24', height: '24') %><span style="color: black;">github</span>
        </a>
        <a href="https://www.linkedin.com/in/kyleeannen" class="btn btn-primary">
          <%= image_tag("linkedin.png", width: '24', height: '24') %><span style="color: black;">linkedin</span>
        </a>
      </div>
      </div>
    </div>
    <footer>
      <div class="footer-left">
        <span>Created by Kyle Annen</span>
      </div>
      <div class="footer-right">
        <span>Created for <a href="http://www.theodinproject.com">TheOdinProject</a></span>
      </div>
    </footer>
    </footer>
  </body>
</html>
